body, html {
  width: 100%;
  height: 100%;
  background-position: 50% 0;
  background-repeat: repeat-y;
  font-size: 15px;
  line-height: 1.75em;
  color: #808080;
  font-family: Microsoft JhengHei;
}

h2, h3 {
  font-size: 21px;
  color: #333;
  margin-bottom: 1em;
  font-weight: 300;
}

.btn_down {
  position: absolute;
  bottom: 10px;
  z-index: 100;
  width: 40px;
  left: 50%;
  margin-left: -20px;
}

.display_table {
  display: table;
}

.display_table_cell {
  display: table-cell;
  vertical-align: middle;
}

.jssorb {
  position: absolute;
  top: 1270px;
}

.jssorb div, .jssorb div:hover, .jssorb .av {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../img/b05.png") no-repeat;
  overflow: hidden;
  cursor: pointer;
  top: 0;
}

.jssorb div {
  background-position: -7px -7px;
}

.jssorb .av {
  background-position: -67px -7px;
}

.jssorb div:hover, .jssorb05 .av:hover {
  background-position: -37px -7px;
}

.jssorb .dn, .jssorb05 .dn:hover {
  background-position: -97px -7px;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0%;
  right: 100%;
  bottom: 10px;
  background: #fff;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.btn_ps {
  background: #036eb6;
  background: -moz-linear-gradient(-45deg, #036eb6 0%, #29aae1 100%);
  background: -webkit-linear-gradient(-45deg, #036eb6 0%, #29aae1 100%);
  background: linear-gradient(135deg, #036eb6 0%, #29aae1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#036eb6', endColorstr='#29aae1',GradientType=1 );
  color: #fff;
  box-sizing: border-box;
  padding: 0.5em 1.5em;
  border-radius: 100px;
  font-size: 26px;
}

.btn_ps:hover, .btn_ps:focus {
  background: transparent;
  border: solid 1px #fff;
  color: #fff;
  text-decoration: none;
}

.bg_gray {
  background-color: #eee;
}

.slider-section .slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-section .slider .slider_position {
  position: relative;
  left: 50%;
  width: 5000px;
  text-align: center;
  margin-left: -2500px;
}

.img_bg1 {
  height: 50%;
  width: 50%;
  background-image: url(../img/pic1.jpg);
  background-size: cover;
}

.img_bg2 {
  width: 100%;
  height: 100%;
  background-image: url(../img/pic2.jpg);
  background-size: cover;
}

.img_bg3 {
  width: 100%;
  height: 100%;
  background-image: url(../img/pic3.jpg);
  background-size: cover;
}

.img_bg4 {
  width: 100%;
  height: 100%;
  background-image: url(../img/pic4.jpg);
  background-size: cover;
}

.img_bg5 {
  width: 100%;
  height: 100%;
  background-image: url(../img/pic5.jpg);
  background-size: cover;
}

.img_bg6 {
  height: 100%;
  width: 100%;
  background-image: url(../img/pic6.jpg);
  background-size: cover;
}

.img_bg7 {
  height: 100%;
  width: 100%;
  background-image: url(../img/pic7.jpg);
  background-size: cover;
}

.img_bg8 {
  height: 100%;
  width: 100%;
  background-image: url(../img/pic8.jpg);
  background-size: cover;
  text-align: center;
  display: table-cell;
  color: #fff;
  font-size: 24px;
  line-height: 2em;
  vertical-align: middle;
}

.img_9 {
  position: absolute;
  bottom: -1%;
  height: 60%;
  z-index: -1;
  right: 5%;
}

.h_60 {
  height: 60%;
  display: table;
  float: left;
  border: 0;
}

.h_50 {
  height: 50%;
  display: table;
  float: left;
  border: 0;
}

.h_40 {
  height: 40%;
  display: table;
  float: left;
  border: 0;
}

.text_box {
  display: table-cell;
  border: 0;
  vertical-align: middle;
  padding: 30px;
  box-sizing: border-box;
}

.border_top {
  border-top: solid 5px #036eb6;
}

.section {
  height: 100%;
  overflow: hidden;
}

#slider_container {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 2880px;
  height: 1380px;
}

#slider_container .slider_loading {
  position: absolute;
  top: 0px;
  left: 0px;
}

#slider_container .slider_loading .slider_loading_bg {
  filter: alpha(opacity=70);
  opacity: 0.7;
  position: absolute;
  display: block;
  background-color: #000;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#slider_container .slider_loading .slider_loading_icon {
  position: absolute;
  display: block;
  background: url(../img/loading.gif) no-repeat center center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#slider_container .slider_container_box {
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2880px;
  height: 1380px;
  overflow: hidden;
}

.slider_info {
  color: #fff;
  position: absolute;
  top: 40%;
  height: 10%;
  z-index: 10;
  width: 50%;
  left: 25%;
  font-size: 36px;
  line-height: 2em;
}

.hvr-underline-from-center {
  color: #fff;
  padding: 10px 20px;
}

.navbar-nav li a {
  color: #fff;
  padding: 15px 20px;
  box-sizing: border-box;
}

.navbar-nav > li > a:hover, .navbar-nav > li a:focus {
  background-color: transparent;
}

.navbar-brand {
  color: #fff;
}

.navbar-brand:hover {
  color: #eee;
}

.navbar-brand {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 300;
}

.navbar-brand b {
  font-weight: 100;
  font-size: 15px;
}

.navbar-brand img {
  width: 30px;
  float: left;
  margin: -5px 5px 0 0;
}

.navbar-fixed-top {
  border-width: 0;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle {
  padding: 9px 0 9px 10px;
}

.p_right {
  float: right;
}

.top-nav-collapse {
  background: #036eb6;
  background: -moz-linear-gradient(-45deg, #036eb6 0%, #29aae1 100%);
  background: -webkit-linear-gradient(-45deg, #036eb6 0%, #29aae1 100%);
  background: linear-gradient(135deg, #036eb6 0%, #29aae1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#036eb6', endColorstr='#29aae1',GradientType=1 );
}

.btn_join {
  background: #036eb6;
  background: -moz-linear-gradient(-45deg, #036eb6 0%, #29aae1 100%);
  background: -webkit-linear-gradient(-45deg, #036eb6 0%, #29aae1 100%);
  background: linear-gradient(135deg, #036eb6 0%, #29aae1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#036eb6', endColorstr='#29aae1',GradientType=1 );
  color: #fff;
  box-sizing: border-box;
  padding: 0.5em 1.5em;
  border-radius: 100px;
}

.btn_join:hover, .btn_join:focus {
  background: transparent;
  border: solid 1px #333;
  color: #333;
  text-decoration: none;
}

.footer {
  background-color: #333;
  padding: 45px 30px;
}

.footer img {
  width: 15px;
  margin-right: 5px;
}

.map {
  color: #808080;
}

.map:hover {
  color: #ccc;
  text-decoration: none;
}

@media (min-width: 768px) {
  body {
    background-image: url(../img/bg.jpg);
  }
  .navbar {
    padding: 20px 30px;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .nav > li {
    float: left;
    width: 25%;
  }
  .navbar {
    padding: 10px 30px;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0 30px;
  }
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 21px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  h3 {
    font-size: 18px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  .p_right {
    float: none;
  }
  .img_bg1 {
    width: 100%;
    height: 210px;
  }
  .h_50, .section {
    overflow: hidden;
    height: auto;
    width: 100%;
  }
  .img_box {
    width: 100%;
  }
  .img_bg1 {
    width: 100%;
    height: 200px;
  }
  .img_bg2, .img_bg3, .img_bg4, .img_bg5 {
    height: 120px;
  }
  .img_bg6 {
    height: 200px;
  }
  .img_bg7 {
    display: none;
  }
  .img_bg8 {
    padding: 20px 0;
    font-size: 18px;
  }
  .bg_gray.h_50 {
    width: 50%;
  }
  .bg_gray .text_box {
    min-height: 190px;
  }
  .hvr-underline-from-center {
    width: 100%;
    text-align: center;
  }
  .footer {
    padding: 30px 15px;
  }
  .gotop {
    position: relative;
    top: 8px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p_right {
    float: none;
  }
  .h_50, .section {
    overflow: hidden;
    height: auto;
  }
  .text_box {
    padding: 15px;
  }
  .img_box {
    width: 100%;
  }
  .img_bg1 {
    width: 100%;
    height: 210px;
  }
  .img_bg2, .img_bg3, .img_bg4, .img_bg5 {
    height: 120px;
  }
  .img_bg6 {
    height: 200px;
  }
  #join .text_box {
    padding: 30px 15px 60px;
  }
  .img_9 {
    bottom: -15%;
    height: 40%;
  }
  .bg_gray .text_box {
    height: 190px;
  }
  .btn_down {
    width: 24px;
    margin-left: -12px;
  }
}

/*# sourceMappingURL=style.css.map */