.footer {
    width: 100%;
    background-color: #3f404f;
    .guide {
        padding: 30px 0;
        @extend %w_center;
        list-style: none;
        @include clearfix;
        .guide_item {
            width: 25%;
            display: block;
            float: left;
            text-align: center;
            &>h2{
                color: #999;
                font-size: 14px;
                text-align: left;
                line-height: 32px;
                font-weight: normal;
                &>img{
                    display: block;
                    margin-bottom: 10px;
                }
            }
            &>h3 {
                width: 100%;
                margin: 0 0 10px;
                color: #fff;
                font-size: 16px;
                line-height: 30px;
                font-weight: normal;
                vertical-align: middle;
                &>i{
                    background-image: url("../img/bjpknum.png");
                    background-repeat: no-repeat;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                     vertical-align: middle;
                }
                .icon_about{
                    background-position: 0 -150px;
                }
                .icon_rewards{
                    background-position: -57px -150px;
                }
                .icon_call{
                    background-position: -113px -150px;
                }
            }
            &>a {
                text-decoration: none;
                color: #fff;
                display: block;
                margin-bottom: 15px;
                &:hover {
                    color: #f44a07;
                }
            }
        }
    }
    .copyright {
        text-align: center;
        background-color: #fff;
        padding: 10px 0;
    }
}
